@font-face {
  font-family:"Inter-Regular" ;
  src: url(../fonts/Inter-Regular.ttf);
}
body {
  margin: 0;
  font-family:"Inter-Regular";
  margin-bottom: 200px;
  clear: both;
}
.top{
  background: #F0FFF0;
  padding-bottom: 50px;
}

.navbar-brand {
  width: 80%;
  margin: 5px 0px 0 0;
}
.navbar-brand img {
  width: 40%;
}

.navbar-nav {
  font-weight: 700;
  color: black;
  text-align: center;
}
.navbar-nav .nav-item {
  margin-right: 20px;
}

.sign {
  color: white;
  background-color: #21B573;
  width: 110px;
  border-radius: 30px;
  margin: auto;
  font-weight: 400;
}
.ready{
  color: #FD511A;
}
.top-head{
  font-size: 60px;
  font-weight: 900;
}
.color {
  color: #23B674;
}
.started{
  padding:10px 30px;
  border-radius: 30px;
  border: none;
  background-color: #21B573;
  color: #F0FFF0;
}
.mid-banner img {
  width: 40%;
  margin-top: 2%;
}
.mid-banner .mid-info {
  background: #eefcf4;
  text-align: center;
  transition: all 1s;
  border-radius: 15px;
  width: 250px;
  height: 250px;
  margin-bottom: 5%;
  padding-top: 5%;
}
.mid-banner .mid-info:hover {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
small {
  font-size: 15px;
  color: gray;
}
.course h1 {
  text-align: center;
  font-weight: 800;
}
.course img{
 padding: 10px 10px;
}
.course .card-b{
  text-decoration: none;
  background: rgba(33, 181, 115, 1);
  padding: 8px 28px;
  border-radius: 33px;
  color: white;
}
.course p {
  font-size: small;
}
.date i {
  margin-right: 15px;
  font-size: 20px;
}
.date .fa-user-group{
  margin-left: 35px;
}